@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color:#E5E5E5;
  }
  
  :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #fed136;
    --secondary: #868e96;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  }
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
.navbar-nav, .navbar-toggler{
    position: relative;
    left:-4px;
}
.navitem{
    font-family: 'Tangerine', cursive;
    color:var(--primary);
    font-weight: 700;
}
.jumbotron{
    position:absolute;
    top:8%;
    padding:0 0 0 0;
    margin:0 0 0 0;
}
.img-car{
    width:100%;
    height:500px;
}
#services-kit{
    position:absolute;
    top:calc(8% + 500px);
}
@media(max-width:576px){
    .navbar-toggler{
        position: relative;
        left:0px;}
    .navitem{font-size:1.7rem}
    .carousel-caption{
        position: absolute;
        top:25%;
        left:12%s;
    }
    .cars{
        position: absolute;
        top:8%;
        width:100%;
        height:50%;
    }
    header{
        position: absolute;
        top:40%;
        right:1%;
        left:1%;
        width:100%;
        height:72%;
        background-color: #E5E5E5;
    }
    .services-title{
        font-size:3rem;
        position: absolute;
        top:0px;
        justify-content: center;
        text-align: center;
        left:20%;
    }
    .services-subtitle{
        font-family: 'Tangerine', cursive;
        color:var(--primary);
        font-weight: 700;
        font-size:1.5rem;
        position: absolute;
        top:8%;
        justify-content: center;
        text-align: center;
        left:30%;

    }
    .service{
        background-color: #E5E5E5;
        width:100%;
        height:350%;
        position: absolute;
        top:20%;
    }
}
@media(min-width:576px)and (max-width:769px){
    .navitem{font-size:2.2rem}
    .carousel-caption{
        position: absolute;
        top:25%;
        left:12%;
    }
    .cars{
        position: absolute;
        top:8%;
        width:100%;
        height:60%;
    }
    header{
        position: absolute;
        top:50%;
        right:1%;
        left:1%;
        width:100%;
        height:72%;
        background-color: #E5E5E5;
    }
    .services-title{
        font-size:3.8rem;
        position: absolute;
        top:0%;
        justify-content: center;
        text-align: center;
        left:35%;
    }
    .services-subtitle{
        font-family: 'Tangerine', cursive;
        color:var(--primary);
        font-weight: 700;
        font-size:3.5rem;
        position: absolute;
        top:8%;
        justify-content: center;
        text-align: center;
        left:30%;

    }
    .service{
        background-color: #E5E5E5;
        width:100%;
        height:350%;
        position: absolute;
        top:40%;
    }
}  
@media(min-width:768px)and (max-width:992px){
    .navitem{font-size:2.8rem}
    .carousel-caption{
        position: absolute;
        top:25%;
        left:12%s;
    }
    .cars{
        width:100%;
        height:80%;
    }

    header{
        position: absolute;
        top:80%;
        right:1%;
        left:1%;
        width:100%;
        height:72%;
        background-color: #E5E5E5;
    }
    .services-title{
        font-size:5rem;
        position: absolute;
        top:-2%;
        justify-content: center;
        text-align: center;
        left:40%;
    }
    .services-subtitle{
        font-family: 'Tangerine', cursive;
        color:var(--primary);
        font-weight: 700;
        font-size:3.5rem;
        position: absolute;
        top:2%;
        justify-content: center;
        text-align: center;
        left:32%;

    }
    .service{
        background-color: #E5E5E5;
        width:100%;
        height:350%;
        position: absolute;
        top:35%;
    }
} 
@media(min-width:992px)and (max-width:1200px){
    .navitem{font-size:3.2rem;}
    .carousel-caption{
        position: absolute;
        top:15%;
        left:-12%s;
    }
    .cars{
        width:100%;
        height:90%;
    }
    header{
        position: absolute;
        top:85%;
        right:1%;
        left:1%;
        width:100%;
        height:72%;
        background-color: #E5E5E5;
    }
    .services-title{
        font-size:5rem;
        position: absolute;
        top:0%;
        justify-content: center;
        text-align: center;
        left:45%;
    }
    .services-subtitle{
        font-family: 'Tangerine', cursive;
        color:var(--primary);
        font-weight: 700;
        font-size:6rem;
        position: absolute;
        top:4%;
        justify-content: center;
        text-align: center;
        left:32%;

    }
    .service{
        background-color: #E5E5E5;
        width:100%;
        height:350%;
        position: absolute;
        top:50%;
    }
}
@media(min-width:1200px){
    .navitem{font-size:3.2rem;}
    .carousel-caption{
        position: absolute;
        top:20%;
        left:-30%;
    }
    .cars{
        width:100%;
        height:100%;
    }

    header{
        position: absolute;
        top:90%;
        right:1%;
        left:1%;
        width:100%;
        height:72%;
        background-color: #E5E5E5;
    }
    .services-title{
        font-size:7rem;
        position: absolute;
        top:0px;
        justify-content: center;
        text-align: center;
        left:40%;
    }
    .services-subtitle{
        font-family: 'Tangerine', cursive;
        color:var(--primary);
        font-weight: 700;
        font-size:5rem;
        position: absolute;
        top:11%;
        justify-content: center;
        text-align: center;
        left:28%;

    }
    .service{
        background-color: #E5E5E5;
        width:100%;
        height:350%;
        position: absolute;
        top:55%;
    }
}  
.nav-link, .services-title{
    color:#FEC503;
    font-weight: 700;
    font-size:2rem;
    font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.navbar-toggler{
    background-color: var(--primary);
}
nav{
    height:8%;
}
/* animation */
#movephones{
    animation:glisse 2s infinite alternate;}
#phone{
    animation : glisse 1s infinite alternate;
}
#one{

}
@keyframes glisse{
    0%{
        transform: translateY(0)
    }
    100%{
        transform: translateX(60px)
    }
  }
  #one{
      animation:glisseone 2s infinite alternate;
  }
  #four{
    animation:glissefour 2s  infinite alternate;
  }
  #two{
    animation:glisseone 2s infinite alternate;
}
#three{
  animation:glissefour 2s  infinite alternate;
}

  @keyframes glisseone{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(72.5px)
    }
  }
  @keyframes glissefour{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-74.5px)
    }
  }